{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block titulo %}FORM CARS{% endblock titulo %}</title>
        <meta name="description" content="loging"/>
        <meta name="keywords" content="php, form, require_once" />
        <meta name="author" content="Antonio José Lojo Ojeda" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--My font-->


        {% load static %}
        <link rel="stylesheet" href="{% static '/css/styles.css' %}" type="text/css">
    </head> 
    <body>
    <header>
        <h1>Cars Form</h1>
    </header>
    <main style="text-align: center;">

        <h2>Cars Form</h2>

        <form class="formulario" action="" method="POST" enctype="multipart/form-data" autocomplete="on">
            {% csrf_token %} <!--Sin el csrf token no funciona-->
            {{cars_form}}
            <!--
            <input type="hidden" name="oculto" value="loging" />
            <label for="nombre">Name or Mail: </label>
            <input type="text" id="nombre" name="nombre" title="Introduzca un nombre"  placeholder="Introduzca su nombre" required/>
            
            <label for="contrasena">Password: </label>
            <input type="password" id="contrasena" name="contrasena" title="Introduzca su contraseña" placeholder="Introduzca su contraseña" required />

            -->
             <button class="button" type="submit" value="enviar" title="Entrar">Submit</button>
        </form>
        <h3>To go to Crud please click here</h3>
        <a class="button" href="{% url 'crud' %}">Crud</a>

    </main>
    <footer class='footerFixed'>
        <p>page coded by <a href="https://github.com/ajloinformatico" target="_blank" title="Github page">ajloinformatico.</a>
            I´m open source.
            Copyright © 2020 INFOLOJO</p>
    </footer>
   
    </body>
</html>